.header_container{
    width: 100%;
    background: rgba(67, 63, 60, 0.2);
    border-bottom: 1px solid rgba(8, 111, 230, 0.39);
    padding: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: fixed;
    nav{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav_item{
            width: 120px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 5px;
            color: white;
            cursor: pointer;
            &:hover{
                background-color: rgba(67, 63, 60, 0.4);;
            }
        }
        .active_item{
            width: 120px;
            height: 100%;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 5px;
            cursor: pointer;
            border-bottom: rgba(8, 111, 230, 0.39);
        }
       
    }
}